.booking-ok {
  background-color: white;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 450px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.map {
margin-top: 20px;

}
