.presentation-card{
  padding: 16px;
  width: 600px;
  //justify-content: start;
  justify-content: space-between;
  //justify-content: start
  margin-top: 80px;
  margin-bottom: 80px;
}

.border-right-black {
  border-right: solid 1px;
}


.flex-direction{
  display: flex;
  margin-top: 150px;
}
