<div class="container">
  <div class="d-flex justify-content-center">

    <div id="FAQ" class="presentation-card border-right-black">
        <p> PROPOSER MON BATEAU EN LOCATION <i class="fa-solid fa-sailboat"></i> </p>
        <ol>
          <li>Publiez votre annonce</li>
          <li>Choisissez votre type de bateau et complétez le formulaire.</li>
          <li>Gérez vos réservations</li>
          <li>Vous recevrez rapidement des messages de membres intéressés par votre bateau.</li>
        </ol>
    </div>

    <div class="presentation-card ms-5 ps-5">
          <p> LOUER UN BATEAU <i class="fa-solid fa-anchor"></i></p>
          <ol>
            <li>Recherchez le bateau idéal </li>
            <li>Contactez le propriétaire </li>
            <li>Réservez</li>
          </ol>
    </div>
  </div>
</div>
