<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links">

     <a href="#" class="nav-link px-2 text-muted">Informations légales</a>
     <a href="#" class="nav-link px-2 text-muted">Politique de confidentialité</a>
     <a href="#" class="nav-link px-2 text-muted"> Informations de contact</a>
     <a href="#" class="nav-link px-2 text-muted">FAQs</a>

  </div>
</div>
