<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links">

     <a href="#" class="nav-link px-2 ">Informations légales</a>
     <a href="#" class="nav-link px-2 ">Politique de confidentialité</a>
     <a href="#" class="nav-link px-2 "> Informations de contact</a>
     <a href="/#FAQ" class="nav-link px-2 ">FAQs</a>

  </div>
</div>
