<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1604246179210-f49f4c00ea4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);">
  <div class="container">
    <h1>Plug & Play</h1>
    <p>Come as you are.</p>
  </div>
</div>
<div class="container mt-5">
  <h2>Les plus vus</h2>

  <div class="cards">

    <div class="card-product">
      <img src="https://static.fnac-static.com/multimedia/Images/15/15/76/7D/8222229-1505-1540-1/tsp20180518120507/Sona-de-Lelo-Couleur-NOIR.jpg#2fff11c0-601b-46f8-b68f-f750b6c8b6bc" />
        <div class="card-infos">
          <h3>Sona Lelo 3</h3>
          <p>Prix/jour : 3.99 €</p>
        </div>
    </div>
    <div class="card-product">
      <img src="https://static.fnac-static.com/multimedia/Images/15/15/76/7D/8222229-1505-1540-1/tsp20180518120507/Sona-de-Lelo-Couleur-NOIR.jpg#2fff11c0-601b-46f8-b68f-f750b6c8b6bc" />
        <div class="card-infos">
          <h3>Sona Lelo 3</h3>
          <p>Prix/jour : 3.99 €</p>
        </div>
    </div>
    <div class="card-product">
      <img src="https://static.fnac-static.com/multimedia/Images/15/15/76/7D/8222229-1505-1540-1/tsp20180518120507/Sona-de-Lelo-Couleur-NOIR.jpg#2fff11c0-601b-46f8-b68f-f750b6c8b6bc" />
        <div class="card-infos">
          <h3>Sona Lelo 3</h3>
          <p>Prix/jour : 3.99 €</p>
        </div>
    </div>
      <div class="card-product">
      <img src="https://static.fnac-static.com/multimedia/Images/15/15/76/7D/8222229-1505-1540-1/tsp20180518120507/Sona-de-Lelo-Couleur-NOIR.jpg#2fff11c0-601b-46f8-b68f-f750b6c8b6bc" />
        <div class="card-infos">
          <h3>Sona Lelo 3</h3>
          <p>Prix/jour : 3.99 €</p>
        </div>
    </div>
  </div>
</div>
