.btn-edit {
  color: #ffffff;
  background-color: #006D77;
  padding: 10px 16px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s;
}
.btn-edit:hover {
  background-color: rgb(0, 60, 65);
  color: #ffffff;
}

.btn-booker {
  color: #ffffff;
  background-color: #006D77;
  padding: 10px 16px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s;
}
.btn-booker:hover {
  background-color: rgb(0, 60, 65);
  color: #ffffff;
}

.btn-accept {
  color: #ffffff;
  background-color: #006D77;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s;
}
.btn-accept:hover {
  background-color: rgb(0, 60, 65);
  color: #ffffff;
}

.btn-refuse {
  color: #ffffff;
  background-color: #E29578;
  padding: 10px 16px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s;
}
.btn-refuse:hover {
  background-color: rgb(235, 152, 166);
  color: #ffffff;
}

.btn-create {
  color: #ffffff;
  background-color: #006D77;
  padding: 10px 16px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s;
}
.btn-create:hover {
  background-color: rgb(0, 60, 65);
  color: #ffffff;
}

.btn-cancel {
  color: #ffffff;
  background-color: #006D77;
  padding: 10px 16px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s;
}
.btn-cancel:hover {
  background-color: rgb(0, 60, 65);
  color: #ffffff;
}

/* CSS */



//modifier supprimer booker acepter refuser grenade
