.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #83C5BE;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #83C5BE;
  opacity: 0.45;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.text-center {
  text-align: center;
}
