
.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-item {
  align-self: center;
}
