
.navbar {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}

.nav-item {
  align-self: center;
}
