
.navbar {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0px;
  height: 60px;
  z-index: 10;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}

.nav-item {
  align-self: center;
}

.page-height {
  min-height: calc(100vh - 150px);
}
