.card-product {
  height: 400px;
  background-color: #FFD7BA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  max-width: 300px;
}

.card-product > img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-product:hover {
  background-color: #e1b99d;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card-product .card-infos {
  padding: 15px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 30px;
  }
