.left-column {
background-color: white;
padding: 25px;
border: 1px solid #83C5BE;
margin-right: 50px;
}

.left-column img {
  margin-bottom: 15px;
  width: 100%;

}

.right-column {
  background-color: #83C5BE;
  border: 1px solid white;
}

.bookform {
  padding: 32px;
  margin-top: 50px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 109, 119, 0.2);
}
