.card-res {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
}

.card-res img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-res h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-res p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-res .card-res-infos {
  padding: 16px;
}

.without-decoration {
  text-decoration: none;
}

.green {
  color: rgb(91, 188, 101);
  font-weight: bolder;
}

.red {
  color: rgb(235, 152, 166);
  font-weight: bolder;
}

.orange {
  color: rgb(235, 209, 152);
  font-weight: bolder;
}
