
<div class="container mt-5">
  <h1>Find all our boats here !</h1>

  <div class="cards">
    <% @boats.each do |boat| %>
    <%= link_to boat_path(boat) do%>
      <div class="card-product">
        <img src="<%=boat.photo_url%>" alt="">
          <div class="card-infos">
           <h3><%= boat.title %></h3>
            <p><%= boat.price %></p>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
